@import 'bootstrap/dist/css/bootstrap.css';
@import '/src/styles/base.scss';

label {
  color: #00000075;
}

.leaflet-bottom.leaflet-right {
  display: none;
}

.form-check-label {
  width: 100%;
}

.leaflet-tooltip {
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
  &::before {
    display: none !important;
  }
}

.leaflet-div-icon {
  background: transparent !important;
  border: none !important;
  overflow: hidden !important;

  img {
    transform: translateY(-2px) scale(4) !important;
  }
}