.App {
    font-family: sans-serif;
    text-align: center;
  }
  
  .leaflet-container {
    height: calc(100vh - 80px);
    width: 100%;
    border: 1px solid red;
  }
  
  .leaflet-div-icon {
    background: transparent;
    border: none !important;
    overflow: hidden;

    img {
      transform: translateY(-2px) scale(4);
    }
  }