.modal-wrapper {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.modal-content {
    padding: 10px;
    width: 400px;
    max-height: calc(100vh - 20%);
    background: #fff;
}

.modal-content.error-modal {
    background: #AA000050;
}